
footer {
  padding: 15px 20px;
  background-color: var(--primary-1);
  font-family: 'DM Sans', sans-serif;
}

footer p, footer a {
  font-size: 20px;
}

footer a {
  font-size: 20px;
  color: var(--secondary-1);
  text-decoration: none;
  display: flex;
  align-items: center;
}

footer img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
