@import '../variables.css';

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: var(--secondary-1);
  font-family: 'DM Sans', sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 20px;
}

nav img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}