nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  font-family: 'Raleway', sans-serif;
  background-color: var(--primary-1);
}

nav a {
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
  color: var(--secondary-1);
}

nav img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.hoverUnderline{
  display: inline-block;
  position: relative;
  color: var(--secondary-1);
}

.hoverUnderline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.30s ease-out;
  background-color: var(--secondary-1);
}

.hoverUnderline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}