body[data-theme='palette1'] {
  --primary-1: #DEE2FF;
  --primary-2: #e6eafe;
  --primary-3: #88CCE7;
  --secondary-1: #190933;  
  --secondary-2: #492286;
  --secondary-3: #04364E;
}

body[data-theme='palette2'] {
  --primary-1: #190933;
  --primary-2: #492286;
  --primary-3: #04364E;
  --secondary-1: #DEE2FF;
  --secondary-2: #eff1fd;
  --secondary-3: #88CCE7;
}

a {
  color: var(--primary-1);
}


